.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.recipe-card img {
  max-width: 100%;
  border-radius: 10px;
}

.recipe-card h2 {
  font-size: 18px;
}
